@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #232225 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

@theme {
  --color-dark: #232225;

  --font-main: "Roboto", sans-serif;
  --font-second: "Chakra Petch", sans-serif;
}

@layer base {
  body {
    @apply bg-dark text-white mt-24 font-main;
  }
}

@layer components {
  .sections {
    @apply flex gap-8 mb-4;
  }

  .section-h2 {
    @apply font-semibold text-xl;
  }

  .project-h2 {
    @apply text-lg underline underline-offset-2 mb-2;
  }

  .hover {
    @apply hover:scale-106;
  }

  .animate {
    @apply transition duration-300 ease-in-out;
  }

  .form-input {
    @apply border-b-2 border-[#ffffff7f] pb-4 px-2;
  }

  .icon-list {
    @apply flex flex-row items-center gap-1;
  }
}
